# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
ENV/

# ------------------------------
# Environment variables
# ------------------------------
.env
.env.*

# ------------------------------
# Logs & temp files
# ------------------------------
*.log
logs/
tmp/
temp/

# ------------------------------
# Jupyter Notebook checkpoints
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# VS Code / IDE
# ------------------------------
.vscode/
.idea/
*.swp
*.swo

# ------------------------------
# OS files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Database
# ------------------------------
*.sqlite3
*.db

# ------------------------------
# Docker
# ------------------------------
docker/data/
docker/volumes/
*.pid

# ------------------------------
# Kafka / Spark temp files
# ------------------------------
*.checkpoint
*.crc
*.tmp

# ------------------------------
# Build / Distribution
# ------------------------------
build/
dist/
*.egg-info/

# ------------------------------
# Coverage / Testing
# ------------------------------
.coverage
htmlcov/
.pytest_cache/

# ------------------------------
# Misc
# ------------------------------
*.bak
*.cache